#Database configuration
DB_HOST=localhost
DB_PORT=port_number
DB_USER=username
DB_PASSWORD=password
DB_NAME=database_name
DB_SSL=true   # set to false if your provider doesn't need it 

JWT_SECRET=your_jwt_secret_key
OPENROUTER_API_KEY=your_openrouter_api_key